body {
    background: darkblue url("../images/3Crosses.jpg") no-repeat fixed center;
    background-size: 100% 100%;
    font-family: papyrus, sans-serif;
    color: darkblue;
  }

  #churchlogo {
    height: 300px;
    width: 300px;
  }
  .jumbotron {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #00008B, #D3D3D3, #F5FFFA);
    color: darkblue;
}

h1 {
    font-size: 86px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,139);
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,139);
}

#profilePic {
    border: 10px darkblue double;
    margin-bottom: 10px;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/*#caballerosProfilePic {
  height: 500px;
  width: 350px;
  border: 10px darkblue double;
  margin-bottom: 10px;
}*/

#churchPic {
  height: 500px;
  width: 550px;
  border: 10px darkblue double;
  margin-bottom: 10px;
}

/*#churchPicQ {
  height: 300px;
  width: 350px;
  border: 10px darkblue double;
  margin-bottom: 10px;
}*/

div h3 {
    text-align: center;
    margin-top: 15px;
    font-size: 35px;
}

/*div p {
    padding-left: 20px;
}*/

 .bullet {
    font-size: x-large;
}
.oficiales {
    margin-top: 40px;
}

#oficialList {
  padding: 10px;
  text-align: justify;
}

.listedPic {
height: 80px;
border-radius: 40px;
margin-right: 20px;
}

.directiva {
  font-size: large;
  text-align: center;
}

.sociedades {
  text-align: center;
}

.titles {
  font-size: small;
  margin-top: -12px;
  text-align: center;
}

hr {
    border: solid 2px darkblue;
    margin-top: 50px;
}

.carousel-caption{
  background-color: rgba(0,0,0, 0.5);
  margin-bottom: -40px;
}

.carousel {
  border: solid 7px darkblue;
  border-radius: 40px;
  background-color: rgba(0,0,139, 0.4);
}

.messageFont {
    font-size: 23px;
}

#credo {
  background-color: darkblue;
  color: white;
  padding: 15px;
  border: 5px double whitesmoke;
  border-radius: 40px;
}

footer {
    color: darkblue;
    font-size: 18px;
    font-family: Papyrus, 'Times New Roman', Times, serif;
    background-color: lightgray;
    text-align: center;
  }
  
  #facebook {
    font-size: 30px;
    color: darkblue;
    padding:10px;
  }
  
  #youtube {
    font-size: 30px; 
    color:darkblue;
  }
  
  #footerMiddle {
    text-align: justify;
  }

  #footerIcon {
    color: darkblue;
  }
  
  #contact {
    padding: 2px;
    color: lightgray;
    font-family: Papyrus, 'Times New Roman', Times, serif;
    background-color: darkblue;
    border-radius: 40px;
  }
  
  #address {
    text-align: left;
  }
  
  #follow {
    text-align: center;
  }

  .myButton {
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    line-height: 16px; 
    padding: 6px; 
    border-radius: 10px; 
    font-family: Papyrus, Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(0, 0, 139) 0%, rgb(0, 0, 139) 50%, rgb(0, 0, 139) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgb(28, 110, 164); 
    display: inline-block;
  }
    
.myButton:hover {
    background: #1C6EA4;
}
    
.myButton:active {
   background: #144E75;
}

